## Task 1

1. Hello World

In [1]:
print("Hello World!")

Hello World!

--- 
2. Program to find all the numbers divisible by 7 but are not a multiple of 5, between 2000 and 3200(inclusive)

In [9]:
for i in range(2000,3201):
    if(i%7==0 and i%5!=0):
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

---
3. Program to accept user's first name and last name and then print them in reverse order

In [15]:
first_name = str(input("Enter your first name: "))
last_name = input("Enter your last name: ")

print(f"{first_name[::-1]} {last_name[::-1]}")

Enter your first name:  Rahul
Enter your last name:  Kata

luhaR ataK

---
4. Program to find volume of a sphere

In [18]:
dia = 12
r = dia/2
pi = 22/7
V = (4/3) * pi * r**3
print(V)

905.142857142857

<br><hr>
## Task 2

1. Program to accept a sequence of comma-seperated numbers and generate a list

In [20]:
numbers = input("Enter some number seperated by comma: ")
list = numbers.split(",")

print(list)

Enter some number seperated by comma:  7,8,6,7,3,88,33,449

['7', '8', '6', '7', '3', '88', '33', '449']

---
2. Program to print a pattern

In [47]:
for i in range(1,5):
    for j in range(1,i+1):
        print("* ",end="")
    print()
for i in range(0, 5):
    for j in range(5, i, -1):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

---
3. Program to reverse a word

In [53]:
inp = input("Enter a Word: ")
print(f"Reversed word is: {inp[::-1]}")

Enter a Word:  madam

Reversed word is: madam

---
4. formatted printing